<h2>Редагування складу</h2>

<a href="/warehouse">
    <button>⬅ Назад до складу</button>
</a>

<hr>

<table border="1" cellpadding="8">
<tr>
    <th>Назва</th>
    <th>Кількість</th>
    <th>Місце</th>
    <th>Термін</th>
    <th>Мін.</th>
    <th>Дії</th>
</tr>

{% for m in medicines %}
<tr>
<form method="POST" action="/update_medicine/{{ m.id }}">
    <td>{{ m.name }}</td>
    <td><input name="quantity" value="{{ m.quantity }}"></td>
    <td><input name="location" value="{{ m.location }}"></td>
    <td><input name="expiry_date" value="{{ m.expiry_date }}"></td>
    <td><input name="min_stock" value="{{ m.min_stock }}"></td>
    <td>
        <button type="submit">Зберегти</button>
        <a href="/delete_medicine/{{ m.id }}">Видалити</a>
    </td>
</form>
</tr>
{% endfor %}
</table>